<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{leaf.ml_names[0]}}">
  <ion-content>

    <ion-slide-box does-continue="true">
      <ion-slide ng-repeat="slide in leaf.slides">
        <img src="./img/{{leaf.botanical_name}}/{{slide}}" alt="{{leaf.name}}">
      </ion-slide>
    </ion-slide-box>

    <div class="card">
      <div class="item item-text-wrap">
        <h2 class="list-title">മറ്റ് പേരുകൾ</h2>
        <hr>
        <span ng-repeat="mlName in leaf.ml_names" ng-if="!$first">
        {{mlName}}, 
        </span>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2 class="list-title">ശാസ്ത്രീയ നാമം</h2>
        <hr>
        {{leaf.botanical_name}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <h2 class="list-title">ഇംഗ്ലീഷ് പേരുകൾ</h2>
        <hr>
        <span ng-repeat="enName in leaf.en_names">
        {{enName}}, 
        </span>
      </div>
    </div>

  </ion-content>
</ion-view>
