<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{leaf.ml_names[0]}}">
  <ion-content class="padding">
    <!-- <img ng-src="{{leaf.face}}" style="width: 64px; height: 64px"> -->
    <!-- <p>{{leaf.description}}</p> -->
    <!-- <pre>{{leaf.slides | json}}</pre> -->

    <ion-slide-box does-continue="true">
      <ion-slide ng-repeat="slide in leaf.slides">
        <img src="./img/{{leaf.botanical_name}}/{{slide}}" alt="{{leaf.name}}">
      </ion-slide>
    </ion-slide-box>

    <h3 class="text-center mian-name">{{leaf.other_names[0]}}</h3>
    <!-- Other names -->
    <h4 class="padding-left">Other names:</h4>
    <ul class="padding-left">
      <li ng-repeat="name in leaf.other_names" ng-if="!$first">{{name}}</li>
    </ul>

  </ion-content>
</ion-view>
