<ion-view view-title="ഇതേക്കുറിച്ച്">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        <h2><strong>മരുന്നില v0.0.1</strong></h2>
        <p>നിലവിൽ ഔഷധസസ്യങ്ങൾക്ക് ഓരോ മേഖലകളിലും വ്യത്യസ്തമായ പേരുകളാണുള്ളത് എന്നതിനാൽ പേരുകൾ മറ്റൊരു മേഖലയിലെ വ്യക്തിക്ക് പറഞ്ഞ് കൊടൂക്കുന്പോള്‍ സസ്യത്തെ തിരിച്ചറിയാനുള്ള പ്രയാസം നേരിടൂന്നുണ്ട്. അത്തരം പ്രയാസത്തിന്നൊരു പരിഹാരം എന്ന നിലക്കാണ്  <strong>മരുന്നില</strong> നിങ്ങളിലേക്ക് എത്തിക്കുന്നത്.</p>
        <p><strong>മരുന്നില</strong>യുടെ പുരോഗമിച്ച പുതിയ പതിപ്പിന്ന് ഉപഭോക്താവിന്റെ അഭിപ്രായം സുപ്രധാനമായതിനാൽ ഞങ്ങളുമായി ബന്ദപ്പെടും എന്ന് പ്രതീക്ഷിക്കുന്നു.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">App Developer by</div>
      <div class="item item-body">
        <div>
          Muhakmmed Athimannil <strong>(athimannil@hotmail.com)</strong>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Contents Obtained by</div>
      <div class="item item-body">
        <div>
          Anoop Vijayan <strong>(anu.ncs@gmail.com)</strong>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
