<ion-view view-title="ഇതേക്കുറിച്ച്">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        <h2><strong>മരുന്നില v0.0.1</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid praesentium expedita veritatis blanditiis, velit nihil unde, rem deserunt veniam saepe voluptas, nemo enim fuga aperiam cupiditate nisi nostrum, labore odit.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">App Developer by</div>
      <div class="item item-body">
        <div>
          Muhakmmed Athimannil <strong>(athimannil@hotmail.com)</strong>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Contents Obtained by</div>
      <div class="item item-body">
        <div>
          Anoop Vijayan <strong>(anu.ncs@gmail.com)</strong>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
