<ion-view view-title="Account">
  <ion-content>

	<ion-radio ng-repeat="language in settings.languages"
		ng-value="language.value"
        ng-model="data.clientSide">
        	{{ language.name }}
	</ion-radio>


    <ion-list>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Enable Friends
	    </ion-toggle>
    </ion-list>

	<div class="item item-divider">
	    Select language
	</div>
	<label class="item item-radio">
		<input type="radio" name="language">
		<div class="item-content">Malayalam</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
	<label class="item item-radio">
		<input type="radio" name="language">
		<div class="item-content">English</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

  </ion-content>
</ion-view>
