<ion-view view-title="ഇതേക്കുറിച്ച്">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        <h2><strong>Leaf V1.0</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid praesentium expedita veritatis blanditiis, velit nihil unde, rem deserunt veniam saepe voluptas, nemo enim fuga aperiam cupiditate nisi nostrum, labore odit.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">App Developer by</div>
      <div class="item item-body">
        <div>
          Muhakmmed Athimannil <strong>(athimannil@hotmail.com)</strong>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Contents Obtained by</div>
      <div class="item item-body">
        <div>
          Anoop Vijayan <strong>(anu.ncs@gmail.com)</strong>
        </div>
      </div>
    </div>
    <p><strong>Disclaimer:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi labore pariatur hic quaerat, voluptatem neque, magni iste expedita corporis aspernatur quis repellat et officiis, vel fugiat a molestias impedit earum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam beatae corporis ullam, veritatis minima dolores, aperiam tempore, sapiente temporibus vel praesentium non repudiandae soluta suscipit deleniti at nesciunt sunt quasi.</p>
  </ion-content>
</ion-view>
