<ion-view view-title="Donate">
  <ion-content>
  	<div class="padding">
		<h4>Donate to myLeaf</h4>
		<p>myLeaf is - and will always be - free. Our mission is to provide users with tools that allow them to gain control over their Internet browsing and protect them from unwanted and malicious elements. Your donation directly helps the development of myLeaf.</p>
		<p>Please use and enjoy it, and if you can make a donation of any amount, I'd appreciate it immensely</p>

		<div class="list">
			<div class="item item-divider">Contact me to contribute</div>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-email-outline"></i>
				hello@athimannil.com
			</a>

			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-social-whatsapp-outline"></i>
				+91 9895 319991
				<i class="icon ion-ios-telephone-outline"></i>
			</a>
		</div>


  	</div>
  </ion-content>
</ion-view>
