<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="ഹോം" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/leafs">
    <ion-nav-view name="tab-leafs"></ion-nav-view>
  </ion-tab>

  <!-- Favorite Tab -->
  <ion-tab title="ഇഷ്ടപ്പെട്ടവ" icon-off="ion-android-star-outline" icon-on="ion-android-star" href="#/tab/favorite">
    <ion-nav-view name="tab-favorite"></ion-nav-view>
  </ion-tab>

  <!-- Donate Tab -->
  <ion-tab title="സഹായം" icon-off="ion-android-happy" icon-on="ion-android-happy" href="#/tab/donate">
    <ion-nav-view name="tab-donate"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="ഇതേക്കുറിച്ച്" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
