/* Empty. Add your own CSS if you like */
.slider-slide{
	text-align: center;
}
.slider-slide img{
	width: 100%;
}
.mian-name{
	margin-top: 0;
}
h2.list-title{
	color: #BABABA;
	font-weight: 600;
}
.slider-pager{
	height: 20px;
	bottom: 5px;
}